In [3]:
import pandas as pd

### show downloaded files

In [8]:
import os
arr = os.listdir('data')
arr

['14_bevoelkerungsvorausberechnung_daten.csv',
 'sonderauswertung-sterbefaelle-endgueltige-daten (1).xlsx',
 'sonderauswertung-sterbefaelle-endgueltige-daten (2).xlsx',
 'sonderauswertung-sterbefaelle-endgueltige-daten.xlsx']

In [11]:
bevoelkerungsvorausberechnung_df = pd.read_csv("data/14_bevoelkerungsvorausberechnung_daten.csv",delimiter=';')

In [22]:
cols = bevoelkerungsvorausberechnung_df.columns
bevoelkerungsvorausberechnung_df[cols[0:5]].loc[(bevoelkerungsvorausberechnung_df['Simulationsjahr'] < 2022) & (bevoelkerungsvorausberechnung_df['Simulationsjahr'] > 2010)]

      Variante  Simulationsjahr mw    Bev  Bev_0_1
122          0             2011  m  39230      337
123          0             2011  w  41098      321
124          0             2012  m  39377      346
125          0             2012  w  41120      328
126          0             2013  m  39557      350
...        ...              ... ..    ...      ...
2323        27             2019  w  42145      384
2324        27             2020  m  41176      403
2325        27             2020  w  42232      383
2326        27             2021  m  41272      401
2327        27             2021  w  42313      381

[178 rows x 5 columns]

## Sterberate pro Altersgruppe 2016-2022

In [ ]:
sterberate_16_22 = pd.read_excel('data/Sterberate pro Altersgruppe 2016-2022.xlsx')